http:
  routers:
    philipjurke-{{ env | default('prod') }}-router:
      rule: "Host(`{{ philipjurke_domain }}`)"
      service: "philipjurke-{{ env | default('prod') }}-service"
      entryPoints:
        - websecure
      tls:
        certResolver: myresolver

  services:
    philipjurke-{{ env | default('prod') }}-service:
      loadBalancer:
        servers:
          # Points to the host gateway internal IP (reachable from Traefik container)
          - url: "http://host.containers.internal:{{ philipjurke_host_port }}"