// Automatically check for updates every day
APT::Periodic::Update-Package-Lists "1";
// Download and install available upgrades every day
APT::Periodic::Unattended-Upgrade "1";

// Automatically reboot WITHOUT CONFIRMATION if
// the file /var/run/reboot-required is found after the upgrade.
Unattended-Upgrade::Automatic-Reboot "false";

// If automatic reboot is enabled and needed, reboot at the given
// time (in HH:MM format).
// Unattended-Upgrade::Automatic-Reboot-Time "02:00";

// Only install updates from the security repository.
Unattended-Upgrade::Allowed-Origins {
    "{{ ansible_distribution }}:{{ ansible_lsb.codename }}-security";
};

// List of packages to not update
Unattended-Upgrade::Package-Blacklist {
//      "vim";
};